.button {
  /* background-color: whitesmoke; */
  border: 1px solid;
  border-radius: 4px;
  /* color: black; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0px 0px;
}

.button:hover {
  background-color: cornflowerblue;
  color: white;
}

.delete-button,
.up-button,
.down-button,
.insert-button,
.desc-button {
  width: 32px;
  height: 21px;  
}

.action-td {
  width: 161px;
  vertical-align: top;
}

.caption {
  font-size: large;
  font-weight: bold;
  text-align: left;
}

.ticket {
  color: cornflowerblue;
  text-decoration: underline;
}

.planTime,
.realTime {
  width: 50px;
  align-content: center;
  padding-left: 10px;
}

.num {
  width: 40px;
  align-content: center;
  padding-left: 10px;
}

.done {
  width: 40px;
  align-content: center;
}

.step {
  font-weight: bold;
}

.stepTable {
  border-width: 1px;
  border: "1";
}
